/*=============== BUTTONS ===============*/
@use '../abstracts/mixins' as *;
.button {
  @include flex(center);
  padding: 16px;
  border-radius: 8px;
  white-space: nowrap;
  font-weight: var(--font-medium);
  line-height: 24px;
  
  &--dark {
    border: 2px solid var(--color-amber-900);
    color: var(--color-amber-900);
  }

  &--light {
    border: 2px solid var(--color-white);
    color: var(--color-white);
  }
}