/*=============== HEADER ===============*/
@use '../abstracts/mixins' as *;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-fixed);
  transition: .5s ease;
  background-color: var(--color-white);
  transition: all .4s ease;
}

.nav {
  @include flex();
  padding: 16px 0;

  &__logo {
    @include title--small;
  }

  &__logo,
  &__link,  
  &__toggle {
    color: var(--color-amber-900);
    font-weight: var(--font-normal);
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  &__item {
    font-size: var(--font-size-16);
    line-height: 24px;
    font-weight: var(--font-medium);
  }

  &__toggle {
    cursor: pointer;
  }

  &__btn {
    display: none;
  }
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
