/*=============== HEADER ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-fixed);
  transition: .5s ease;
  background-color: var(--color-white);
  transition: all .4s ease;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;

  &__logo {
    font-size: var(--font-size-32);
    line-height: 110%;
  }

  &__logo,
  &__link,  
  &__toggle {
    color: var(--color-amber-900);
    font-weight: var(--font-bold);
  }
  
  &__menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      box-shadow: 0 0 4px rgba(0,0,0,.1);
      padding: 15px 0;
      width: 80%;
      top: -100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: .4s;
      border-radius: 2rem;
      z-index: var(--z-index-fixed);
      background-color: var(--color-white);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  &__item {
    font-size: var(--font-size-16);
    line-height: 24px;
    font-weight: var(--font-medium);
  }

  &__toggle {
    cursor: pointer;
  }

  &__btn {
    display: none;
  }
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + .2rem);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
}