/*=============== MAP ===============*/
.map {
  padding: 0!important;
  background-color: var(--color-amber-900);
  
  // position: relative;

  &__container {
    margin: 0!important;
    padding: 0 16px;
    // padding-top: 36px!important;
    // padding-bottom: 48px!important;
    overflow: hidden;
    position: relative;
  }

  &__data {
    color: var(--color-amber-50);

    &-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }

    &-title {
      font-size: var(--font-size-48);
      font-weight: var(--font-extra-bold);
      color: var(--color-amber-50);
    }

    &-subtitle {
      font-size: var(--font-size-32);
      font-weight: var(--font-bold);
      color: var(--color-amber-50);
    }
  }

  &__img {
    padding-top: 36px!important;
    padding-bottom: 48px!important;
    position: relative;
    display: inline-block;
    overflow: hidden; 

    .img-inner {
      position: relative;
      display: inline-block;
    }

    img {
      display: block;
      width: auto;
      height: auto;
      max-width: none;
      max-height: none;
    }

    .img-inner::before {
      content: url('/assets/img/img-location.png');
      position: absolute;
      top: 47%;
      left: 54.5%;
      transform: translate(-50%, -50%);
      z-index: 1;
      pointer-events: none;
    }

    &-data {
      position: absolute;
      top: 2%;
      left: 2.3%;
      z-index: 2;
      text-align: left;
      height: calc(auto + 50px);

      img {
        width: auto;  
        height: auto;
        // max-width: 100%; 
      }
    }

    &-detail {
      position: absolute;
      bottom: -50px;
      left: 8px;

      p {
        color: var(--color-blue-gray-900);
        padding: 16px 16px 8px 16px;
        width: 250px;
        height: auto;        
        border-radius: 5px;
        background: var(--color-blue-gray-200);
        box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25), 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
        z-index: 0;
        position: absolute;
        bottom: -8px;
        z-index: -1;
      }

      &--arrow-bottom {
        position: absolute;
        bottom: -12px;
        left: 119px;
        z-index: 1;
      }

      &--eclipse {
        position: absolute;
        top: 50%;
        left: 109px;
        z-index: -2;
      }
    }
  }
}