/*=============== MEDIA QUERIES ===============*/
@use '../abstracts/mixins' as *;

@media screen and (min-width: 576px){
  // .home__img {
  //   width: 70%;
  // }
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    width: 80%;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.4s;
    border-radius: 2rem;
    z-index: var(--z-index-fixed);
    background-color: var(--color-white);
  }

  /* Show menu */
  .show-menu {
    top: calc(var(--header-height) + .2rem);
  }
}

@media screen and (min-width: 768px){
  .nav {
    &__list {
      flex-direction: row;
      column-gap: 2.5rem;
    }

    &__toggle{
      display: none;
    }
  }

  .home__bg::before {
    bottom: -60px;
  }
  
  .special {
    &__header {
      flex-direction: row;
      margin-bottom: 32px;
    }

    &__btn {
      &-signup {
        margin-bottom: 0;
      }
    }

    &__data {
      flex-direction: row;
    }

    &__bg {
      &--green {
        width: 232px;
        bottom: 33%;
        right: 3%;
      }

      &--fuchsia {
        width: 202px;
        bottom: 7%;
        left: 75%;
      }

      &--amber {
        width: 130px;
        bottom: 15%;
        left: 56%;
      }

      &--blue {
        width: 161px;
        bottom: 55%;
        right: 55%;
      }

      &--pink {
        width: 271px;
        top: 53%;
        left: 3%;
      }
    }
  }

  .reason {
    &__container {
      flex-direction: row;
    }

    &__data {
      text-align: left;
    }
  }

  .testimonial {
    &__header {
      padding-bottom: 32px;
    }

    &__data {
      padding-top: 32px;
      &-container {
        flex: 0 0 40%;
        
        &:first-child {
          display: flex;
        }
      }

      &-description {
        font-size: var(--font-size-24);
      }
    }
  }

  .collection {
    padding-top: 500px !important;
  }

  .article {
    &__header {
      flex-direction: row;
      margin-bottom: 32px;
    }

    &__btn {
      &-more {
        margin-bottom: 0;
      }
    }

    &__data {
      flex-direction: row;
    }
  }

  .event {
    &__header {
      flex-direction: row;
      margin-bottom: 32px;
    }

    &__btn {
      &-more {
        margin-bottom: 0;
      }
    }

    &__data {
      flex-direction: row;
    }
  }

  .submission {
    &__container {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .footer {
    &__data {
      padding: 48px 0!important;
      grid-template-columns: 1fr 1fr;
    }

    &__copyright {
      padding: 24px 0!important;
      flex-direction: row;
    }
  }
}

/* For large devices */
@media screen and (min-width: 992px){
  body {
    background: var(--color-linear-gradient-vertical-amber-50-to-white);
  }

  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .container {
    margin: 0 80px;
    max-width: 1280px;
  }

  .header {
    background-color: var(--color-linear-gradient-vertical-amber-50-to-white);
  }

  .scroll-header {
    background-color: var(--color-amber-50);
  }

  .nav {
    // padding: 24px 0;
    padding-top: 24px;
    padding-bottom: 24px;

    &__list {
      gap: 12px;
    }

    &__item {
      padding: 16px 8px;
    }

    &__btn {
      display: block;
      font-size: var(--font-size-16);
      padding: 12px 28px;
    }
  }

  .home {
    position: relative;
    
    &__container {
      flex-direction: row;
      gap: 80px;
      text-align: left;

      &--right::after {
        background: none;
      }
    }

    &__header {
      text-align: left;

      &-title {
        font-size: var(--font-size-72);
      }
    }

    &__btn {
      justify-content: flex-start;
    }

    &__img {
      width: 486px;
      height: 388px;
    }

    &__data-icon {
      width: auto;
    }

    &__bg {
      width: 55%;

      &::before {
        position: unset;
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 90%;
      background-color: var(--color-amber-100);
      z-index: var(--z-index-background);
      clip-path: polygon(100% 0, 100% 100%, 0 100%);
    }
  }

  .special {
    &__header {
      margin-bottom: 80px;

      &-title {
        @include title--large;
      }
    }

    &__data {
      gap: 48px;
    }
  }

  .reason {
    padding: 160px 0;

    &__container {
      gap: 80px;
      padding: 80px;
    }

    &__title {
      @include title--large;
    }

    &__img {
      &--small {
        display: none;
      }

      &--large {
        display: inline-block;
      }
    }

    &__bg {
      &--light-amber {
        width: 130%;
        height: 60%;
        top: 20%;
        left: -15%;
      }

      &--amber {
        width: 20%;
        top: 10%;
        left: -5%;
      }

      &--fuchsia {
        width: 16%;
        bottom: -8%;
        right: 13%;
      }

      &--pink {
        width: 40%;
        bottom: -28%;
        right: -20%;
      }

      &--blue {
        width: 13%;
        top: -25%;
        right: 1%;
      }

      &--green {
        width: 18%;
        bottom: -8%;
        left: 10%;
      }
    }
  }

  .testimonial {
    &__header {
      justify-content: space-between;
      padding-bottom: 40px;

      &-title {
        @include title--large;
      }
    }

    &__pagination {
      @include flex();
      gap: 24px;
    }

    &__data {
      padding-top: 40px;
      padding-bottom: 80px;
      max-width: 1360px;
      max-height: 421px;

      &-wrapper{
        gap: 24px;
      }

      &-container {
        flex: 0 0 30%;
        padding: 32px;
        gap: 16px;

        &:first-child {
          display: flex;
        }

        &:last-child {
          display: flex;
        }
      }

      &-description {
        font-size: var(--font-size-24);
      }
    }
  }

  .collection {
    padding-top: 630px !important;

    &__header {
      padding-bottom: 80px;
      text-align: left;

      &-title {
        @include title--large;
      }

      &-description {
        font-size: var(--font-size-18);
        line-height: 28.8px;
      }
    }

    &__data {
      flex-direction: row;
      gap: 80px;
    }

    &__list {
      @include flex(flex-start, flex-start);
      flex-direction: column;
      gap: 16px;

      &-item {
        display: flex!important;
      }
    }

    &__btn {
      img:last-child {
        display: block;
      }

      span {
        padding: 0 8px;
      }
    }

    &__img {
      width: 70%;
      // overflow: hidden;

      &--small {
        display: none;
      }

      &--large {
        display: inline-block;
        transform: scale(1.05);
        transform-origin: center;
      }
    }

    &__bg {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .map {
    &__container {
      // padding: 42px 0!important;
    }

    &__data {
      &-title {
        font-size: var(--font-size-96);
      }

      &-subtitle {
        font-size: var(--font-size-56);
      }
    }
  }

  .article {
    &__header {
      margin-bottom: 80px;

      &-title {
        @include title--large;
      }
    }

    &__data-info {
      padding: 32px 32px 0 32px;
    }

    &__btn-read {
      margin: 16px 32px;
    }

    &__bg {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .event {
    &__header {
      margin-bottom: 80px;

      &-title {
        @include title--large;
      }
    }

    &__data-info {
      padding: 32px 32px 0 32px;
    }

    &__btn-read {
      margin: 16px 32px;
    }

    &__bg {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .submission {
    position: relative;

    &__title {
      @include title--large;
    }

    &__btn {
      padding: 16px 32px!important;
      font-size: var(--font-size-20);
      font-weight: var(--font-bold);
      z-index: 10;
    }   

    &__bg {
      position: absolute;
      display: block;

      &-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow: visible;
      }

      &-clipper {
        position: absolute;
        top: -70%; 
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: visible; 
        pointer-events: none; 
      }

      &--fuchsia {
        width: 164px;
        height: 164px;
        border-radius: 30px;
        opacity: 0.75;
        background: var(--color-fuchsia-700);
        bottom: 45%;
        right: 1%;
        z-index: 1;
      }

      &--pink {
        width: 185px;
        height: 185px;
        border-radius: 50px;
        opacity: 0.75;
        background: var(--color-pink-700);
        bottom: 26%;
        right: -5%;
        z-index: 2;
      }

      &--blue {
        width: 111px;
        height: 111px;
        border-radius: 50px;
        opacity: 0.75;
        background: var(--color-blue-light-700);
        bottom: 10%;
        right: -4%;
        z-index: 1;
      }
    }
  }

  .footer {
    &__data {
      padding: 48px 0!important;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &__content {
      text-align: left;
    }

    &__app {
      align-items: flex-start;
    }

    &__socials-links {
      justify-content: flex-start;
    }  

    &__copyright {
      padding: 24px 0!important;
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 1441px){
  .container {
    margin: 0 auto;
  }
}
