/*===============   SUBMISSIONS ===============*/
.submission {
  background-color: var(--color-blue-gray-900);
  color: var(--color-white);

  &__container {
    @include flex(center);
    flex-direction: column;
    gap: 32px;
  }

  &__title {
    font-size: var(--font-size-40);
    font-weight: var(--font-bold);
  }

  &__btn {
    padding: 20px 48px!important;
    font-size: var(--font-size-24);
    font-weight: var(--font-bold);
  }
  
  &__bg {
    display: none;
  }
}