/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 48px 0;
  // padding-top: 48px;
  // padding-bottom: 48px;
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  // max-width: 992px;
  margin: 0 16px;
  // padding-left: 16px;
  // padding-right: 16px;
}